.popup__close-button {
    position: absolute;
    top: -38px;
    right: -38px;
    width: 41px;
    height: 41px;
    box-sizing: border-box;
    border: none;
    background-color: #000000;
    background-image: url(../../../images/close-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    outline: none;
}
.popup__close-button:hover {
    opacity: .6;
}

@media all and (max-width: 600px) {
    .popup__close-button {
        top: -22px;
        right: -22px;
        width: 22px;
        height: 22px;
    }
};